@charset "UTF-8";
/*** LTR websites ***/ /*===
/*===================================================
Project:   Yufa 
Auther: Mohamed Amin
Version:    1.0
Created:   2 Novmber 2020
Last Update: 23 July 2023
Template Description:    multipurpose HTML5 Template 
====================================================

/*
01- global-rules and helper classes
02- page-header
03- page-hero section
04- features-section
05- stats section
06- about section
07- portfolio section
08- Start portfolio-single Section  
09- our-video section
10- our-team section
11- pricing section
12- our-clients section
13- faq section
14- testimonials section
15- contact-us section
16- take-action section
17- page-footer section
18- blog
19- signing page
20- 404 Page
21- benefits section
22- demos page

23- Coloring classes 
24- Dark Theme Rules
===*/
/* 01- start global, helper classes , Components Rules*/
/*========== Start Global Rules ==========*/
.hero-swiper-slider .swiper-slide-active .slide-title.splitting .char .char, .page-hero .hero-text-area .hero-title.splitting .char, .section-heading .section-title.splitting.animated .char,
.hero-swiper-slider .swiper-slide-active .slide-title.splitting .char .word,
.page-hero .hero-text-area .hero-title.splitting .word,
.section-heading .section-title.splitting.animated .word {
  opacity: 0;
  animation: fadeInDown 0.5s forwards ease-in-out;
}
.hero-swiper-slider .swiper-slide-active .slide-title.splitting .char .char, .page-hero .hero-text-area .hero-title.splitting .char, .section-heading .section-title.splitting.animated .char {
  animation-delay: calc(0.5s + 0.03s * var(--char-index));
}
.hero-swiper-slider .swiper-slide-active .slide-title.splitting .char .word, .page-hero .hero-text-area .hero-title.splitting .word, .section-heading .section-title.splitting.animated .word {
  animation-delay: calc(0.5s + 0.08s * var(--word-index));
}

.hero-swiper-slider .swiper-slide-active .slide-subtitle.splitting .char .char, .page-hero .hero-text-area .hero-subtitle.splitting .char, .section-heading .section-subtitle.splitting.animated .char,
.hero-swiper-slider .swiper-slide-active .slide-subtitle.splitting .char .word,
.page-hero .hero-text-area .hero-subtitle.splitting .word,
.section-heading .section-subtitle.splitting.animated .word {
  opacity: 0;
  animation: fadeInUp 0.5s forwards ease-in-out;
}
.hero-swiper-slider .swiper-slide-active .slide-subtitle.splitting .char .char, .page-hero .hero-text-area .hero-subtitle.splitting .char, .section-heading .section-subtitle.splitting.animated .char {
  animation-delay: calc(1s + 0.001s * var(--char-index));
}
.hero-swiper-slider .swiper-slide-active .slide-subtitle.splitting .char .word, .page-hero .hero-text-area .hero-subtitle.splitting .word, .section-heading .section-subtitle.splitting.animated .word {
  animation-delay: calc(1s + 0.001s * var(--word-index));
}

body {
  font-family: "Nunito", "sans-serif";
  direction: ltr;
  text-align: left;
  position: relative;
  background: #fff;
}

section {
  overflow: hidden;
  position: relative;
}

.skewed-section {
  overflow: visible;
  position: relative;
  margin: 2rem 0;
}
.skewed-section::before, .skewed-section::after {
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  left: 0;
  background: #ff1bda;
  transform: translateY(-50%) skewY(-1deg);
}
.skewed-section::before {
  top: 0;
}
.skewed-section::after {
  top: 100%;
}

.mega-section {
  padding: 6rem 0;
}
@media (max-width: 767px) {
  .mega-section {
    padding: 4rem 0;
  }
}

.elf-section {
  padding: 4rem 0;
}
@media (max-width: 767px) {
  .elf-section {
    padding: 3rem 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.hollow-text {
  -webkit-text-stroke-color: inherit;
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.section-heading {
  margin-bottom: 3rem;
}
.section-heading .section-title {
  text-align: center;
  margin-bottom: 1.25rem;
  font-size: 3rem;
  font-family: "Montserrat", "sans-serif";
  font-weight: 800;
  text-transform: capitalize;
  color: #333;
  line-height: 1.1;
  letter-spacing: 2px;
}
.section-heading .section-title.splitting .char {
  text-transform: initial;
}
.section-heading .section-title.splitting .char:first-child {
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .section-heading .section-title {
    font-size: 2rem;
  }
}
.section-heading .section-subtitle {
  text-align: center;
  margin: 0 auto;
  width: 60%;
  padding: 0 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #707070;
}
.section-heading .section-subtitle.splitting .char:first-child {
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .section-heading .section-subtitle {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .section-heading .section-subtitle {
    width: 100%;
  }
}

.adding-shadow {
  box-shadow: 1px 1px 25px 0px rgba(0, 0, 0, 0.25);
}

body.overlay-is-grey .overlay-color {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  transition: all 0.5s ease-in-out 0s;
  background: #000;
  opacity: 0.5;
}
body.overlay-is-main-color .overlay-color {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  transition: all 0.5s ease-in-out 0s;
  background: #ff1bda;
  opacity: 0.75;
}
body.overlay-is-accent-color .overlay-color {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  transition: all 0.5s ease-in-out 0s;
  background: #790365;
  opacity: 0.75;
}
body.overlay-is-linear-gradient .overlay-color {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  transition: all 0.5s ease-in-out 0s;
  background: -webkit-linear-gradient(45deg, #790365, #ff1bda);
  opacity: 0.75;
}

.parallax {
  background-attachment: fixed !important;
}

.overlay-image-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  transition: all 0.5s ease-in-out 0s;
  opacity: 0.05;
  /*add  background-image value wherever you use this class to choose the custom image  */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay-shape-image-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  transition: all 0.5s ease-in-out 0s;
  /*add  background-image value wherever you use this class to choose the custom image  */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.05;
}

.overlay-photo-image-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  transition: all 0.5s ease-in-out 0s;
  /*add  background-image value wherever you use this class to choose the custom image  */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.05;
}

.circle-shape-bottom-end, .circle-shape-top-start {
  position: absolute;
  z-index: -1;
  opacity: 0.25;
  border: 15px solid #ff1bda;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
@media (max-width: 991px) {
  .circle-shape-bottom-end, .circle-shape-top-start {
    width: 125px;
    height: 125px;
  }
}

.circle-shape-top-start {
  left: -80px;
  top: -80px;
}
@media (max-width: 991px) {
  .circle-shape-top-start {
    left: -40px;
    top: -40px;
  }
}

.circle-shape-bottom-end {
  right: -80px;
  bottom: -80px;
}
@media (max-width: 991px) {
  .circle-shape-bottom-end {
    right: -40px;
    bottom: -40px;
  }
}

.pattern-bottom-start, .pattern-top-end {
  position: absolute;
  background-image: url("../assets/images/patterns/dots-pattern-black.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.1;
  transform: rotate(30deg);
  width: 200px;
  height: 200px;
  z-index: -1;
}
@media (max-width: 991px) {
  .pattern-bottom-start, .pattern-top-end {
    width: 135px;
    height: 135px;
  }
}

.pattern-top-end {
  top: -40px;
  right: -40px;
}

.pattern-bottom-start {
  bottom: -40px;
  left: -40px;
}

.line-solid-main-color, .line-solid-accent-color, .line-gradient-color {
  display: block;
  width: 75px;
  height: 4px;
  border-radius: 0 6px;
  margin: 1rem auto;
}

.line-gradient-color {
  background: #ff1bda;
}

.line-solid-accent-color {
  background: #790365;
}

.line-solid-main-color {
  background: #ff1bda;
}

.line-side {
  margin-left: 0;
  margin-right: auto;
}

/*  to enable any element that previously had the .disabled-element class.  */
.enabeld-element {
  opacity: 1;
  pointer-events: auto;
}

/*  to disable any element and prevent the mouse action on it  */
.disabled-element {
  opacity: 0.2;
  pointer-events: none;
}

.see-more-area {
  display: block;
  text-align: center;
  text-transform: capitalize;
}

.wave-shape {
  display: block;
  width: 100%;
  fill: #fff;
}

.no-borders {
  border: none;
  outline: none;
}

.no-box-shadow {
  box-shadow: none !important;
}

.up-heading-span {
  /*  To Style a Span Overover Any Heading  */
  display: block;
  margin-bottom: -7px;
  font-size: 0.85rem;
  font-weight: 600;
  color: #707070;
}

.section-shape-divider-bottom {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.section-shape-divider-bottom svg {
  display: block;
  width: 100%;
  height: 120px;
}
.section-shape-divider-bottom svg path {
  fill: #fff;
}
.section-shape-divider-bottom.fill-shade svg path {
  fill: #f2f2f2;
}

*::selection {
  background: #ff1bda;
  color: #fff;
}

.text-gradient-color::selection {
  background: #ff1bda;
  color: #fff;
  -webkit-text-fill-color: #fff;
}

.start-dir-img-frame {
  background-image: linear-gradient(140deg, #ff1bda, #fff);
  margin-right: 1.5rem;
  border-radius: 0.5rem;
}
.start-dir-img-frame > img {
  transform: translate(12px, 12px);
  border-radius: 0.5rem;
}

.end-dir-img-frame {
  background-image: linear-gradient(-40deg, #ff1bda, #fff);
  margin-left: 1.5rem;
  border-radius: 0.5rem;
}
.end-dir-img-frame > img {
  transform: translate(-12px, -12px);
  border-radius: 0.5rem;
}

/*========== End Global Rules ==========*/
/* Start video button animation*/
@keyframes anim-pulses {
  0% {
    transform: scale3d(0.9, 0.9, 1);
    opacity: 0.5;
  }
  50% {
    transform: scale3d(1.2, 1.2, 1);
    opacity: 0.75;
  }
  100% {
    transform: scale3d(1.4, 1.4, 1);
    opacity: 0;
  }
}
/* End video button animation*/
/* Start buttons global rules*/
.ma-btn-secondary, .ma-btn-primary {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 0.25rem;
  padding: 0.625rem 3rem;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 0px 7px 10px -5px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out 0s;
  cursor: pointer;
  z-index: 0;
}
.ma-btn-secondary:hover, .ma-btn-primary:hover {
  text-decoration: none;
}
.ma-btn-secondary:focus, .ma-btn-primary:focus {
  outline: none !important;
}

.ma-btn-primary {
  border-color: #ff1bda;
  color: #fff;
  background: #ff1bda;
}
.ma-btn-primary:hover {
  color: #ff1bda;
  background: rgba(0, 0, 0, 0);
  border-color: #ff1bda;
}
.ma-btn-primary:hover::before, .ma-btn-primary:hover::after {
  left: 100%;
  transform: rotate(-15deg) translateX(100%);
}
.ma-btn-primary::before, .ma-btn-primary::after {
  content: "";
  position: absolute;
  width: 30px;
  left: 0;
  top: -50%;
  height: 200%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: rotate(-15deg) translateX(-150%);
  z-index: -1;
  transition: all 0.5s ease-in-out 0s;
}
.ma-btn-primary::after {
  transition-delay: 0.075s;
}

.ma-btn-secondary {
  /**/
  border: 2px solid;
  border-color: #fff;
  color: #fff;
  background: rgba(0, 0, 0, 0);
}
.ma-btn-secondary:hover {
  background: #ff1bda;
  color: #fff;
}
.ma-btn-secondary:hover::before, .ma-btn-secondary:hover::after {
  left: 100%;
  transform: rotate(-15deg) translateX(100%);
}
.ma-btn-secondary::before, .ma-btn-secondary::after {
  content: "";
  position: absolute;
  width: 30px;
  left: 0;
  top: -50%;
  height: 200%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: rotate(-15deg) translateX(-105%);
  z-index: -1;
  transition: all 0.5s ease-in-out 0s;
}
.ma-btn-secondary::after {
  transition-delay: 0.065s;
}

.play-btn-row-dir, .play-btn-col-dir {
  display: inline-block;
}
.play-btn-row-dir .play-video-btn, .play-btn-col-dir .play-video-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.play-btn-row-dir .play-video-btn:hover .play-btn-text::before, .play-btn-col-dir .play-video-btn:hover .play-btn-text::before {
  transform: scaleX(1);
}
.play-btn-row-dir .video-link, .play-btn-col-dir .video-link {
  text-decoration: none !important;
}
.play-btn-row-dir .play-btn, .play-btn-col-dir .play-btn {
  position: relative;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  transition: all 0.5s ease-in-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  transform-origin: center;
}
.play-btn-row-dir .play-btn:hover, .play-btn-col-dir .play-btn:hover {
  transform: scale(1.05);
}
.play-btn-row-dir .play-btn::before, .play-btn-col-dir .play-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
  animation: anim-pulses infinite 2s linear;
}
.play-btn-row-dir .play-btn img.play-icon, .play-btn-col-dir .play-btn img.play-icon {
  width: 3rem;
  height: 3rem;
}
.play-btn-row-dir .play-btn-text, .play-btn-col-dir .play-btn-text {
  position: relative;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  color: #fff;
}
.play-btn-row-dir .play-btn-text::before, .play-btn-col-dir .play-btn-text::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  height: 0.25rem;
  width: 100%;
  border-radius: 0.25rem;
  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.3s ease-in-out 0s;
  background: #fff;
}
.play-btn-col-dir .play-video-btn {
  flex-direction: column;
}
.play-btn-col-dir .play-btn {
  margin-bottom: 0.75rem;
}

.play-btn-row-dir .play-video-btn {
  flex-direction: row;
}
.play-btn-row-dir .play-btn {
  margin-right: 0.75rem;
}

@media (max-width: 575px) {
  .download-apps-area {
    display: inline-flex;
    flex-direction: column;
  }
}
.download-apps-area .btn-store {
  min-width: 180px;
}
.download-apps-area .btn-store:not(:last-child) {
  margin-right: 1rem;
}
@media (max-width: 575px) {
  .download-apps-area .btn-store:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
.download-apps-area .btn-app-store,
.download-apps-area .btn-google-play {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none !important;
  transition: all 0.5s ease-in-out 0s;
}
.download-apps-area .btn-app-store .icon,
.download-apps-area .btn-google-play .icon {
  font-size: 2rem;
  margin-right: 0.75rem;
}
.download-apps-area .btn-app-store .title-wraper,
.download-apps-area .btn-google-play .title-wraper {
  line-height: 1;
  text-align: left;
}
.download-apps-area .btn-app-store .title-wraper .sub-title,
.download-apps-area .btn-google-play .title-wraper .sub-title {
  display: block;
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: capitalize;
}
.download-apps-area .btn-app-store .title-wraper .title,
.download-apps-area .btn-google-play .title-wraper .title {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
}
.download-apps-area .btn-app-store.btn-transparent-bg,
.download-apps-area .btn-google-play.btn-transparent-bg {
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0);
  color: #fff !important;
}
.download-apps-area .btn-app-store.btn-transparent-bg:hover,
.download-apps-area .btn-google-play.btn-transparent-bg:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: #fff;
}
.download-apps-area .btn-app-store.btn-main-color-bg,
.download-apps-area .btn-google-play.btn-main-color-bg {
  border: 2px solid #fff;
  background-color: #ff1bda;
  color: #fff !important;
}
.download-apps-area .btn-app-store.btn-main-color-bg:hover,
.download-apps-area .btn-google-play.btn-main-color-bg:hover {
  background-color: #fff;
  color: #ff1bda !important;
}
.download-apps-area .btn-app-store.btn-white-bg,
.download-apps-area .btn-google-play.btn-white-bg {
  border: 2px solid #ff1bda;
  background-color: #fff;
  color: #ff1bda !important;
}
.download-apps-area .btn-app-store.btn-white-bg:hover,
.download-apps-area .btn-google-play.btn-white-bg:hover {
  background-color: #ff1bda;
  color: #fff !important;
}

body.rounded-btns .ma-btn-primary,
body.rounded-btns .ma-btn-secondary,
body.rounded-btns .portfolio-btn {
  border-radius: 5rem;
}
body.smooth-squared-btns .ma-btn-primary,
body.smooth-squared-btns .ma-btn-secondary,
body.smooth-squared-btns .portfolio-btn {
  border-radius: 0.5rem;
}
body.hard-squared-btns .ma-btn-primary,
body.hard-squared-btns .ma-btn-secondary,
body.hard-squared-btns .portfolio-btn {
  border-radius: 0;
}

.ma-btn-squared {
  border-radius: 0.5rem !important;
}

.ma-btn-rounded {
  border-radius: 5rem !important;
}

/* End buttons global rules*/
/* Start ma-tabs rules */
.ma-tabs .tabs-links-list {
  position: relative;
  padding: 0.5rem 0rem;
  margin: 0;
  margin-bottom: 1rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
@media (max-width: 575px) {
  .ma-tabs .tabs-links-list {
    flex-wrap: nowrap;
  }
}
.ma-tabs .b-line {
  position: absolute;
  left: 0;
  width: 120px;
  border-radius: 1rem;
  bottom: 0;
  height: 3px;
  background-color: #ff1bda;
  will-change: left, width;
  transition: all 0.3s ease-in-out 0s;
}
.ma-tabs .tab-link {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 900;
  margin-right: 3rem;
  color: #707070;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}
.ma-tabs .tab-link:last-child {
  margin-right: 0;
}
.ma-tabs .tab-link.active, .ma-tabs .tab-link:hover {
  color: #ff1bda;
}
@media (max-width: 991px) {
  .ma-tabs .tab-link {
    font-size: 1rem;
    margin-right: 0;
  }
}
@media (max-width: 575px) {
  .ma-tabs .tab-link {
    font-size: 0.85rem;
    margin-right: 0;
  }
}
.ma-tabs .switch {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ma-tabs .switch .switch-btns-list {
  padding: 0.5rem;
  margin: 0;
  margin-bottom: 1rem;
  list-style: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5rem;
}
.ma-tabs .switch .switch-btns-list .switch-btn {
  position: relative;
  padding: 0.75rem 1rem;
  display: inline-block;
  border: 2px solid rgba(112, 112, 112, 0.65);
  min-width: 140px;
  color: rgba(112, 112, 112, 0.65);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  text-transform: capitalize;
  transition: all 0.3s ease-in 0s;
  cursor: pointer;
}
.ma-tabs .switch .switch-btns-list .switch-btn:first-child {
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  border-right: none;
}
.ma-tabs .switch .switch-btns-list .switch-btn:last-child {
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  border-left: none;
}
.ma-tabs .switch .switch-btns-list .switch-btn:hover {
  border-color: #ff1bda;
  color: #ff1bda;
}
.ma-tabs .switch .switch-btns-list .switch-btn.active {
  color: #fff;
  background-color: #ff1bda;
  border-color: #ff1bda;
}
.ma-tabs .switch .toggle-btn {
  width: 80px;
  height: 30px;
  display: inline-block;
  position: relative;
  background-color: #ff1bda;
  border-radius: 2rem;
  z-index: 0;
  -webkit-appearance: none;
  outline: none;
  left: 0;
  right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  z-index: 1;
}
.ma-tabs .switch .toggle-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 0.25rem solid #ff1bda;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s;
}
.ma-tabs .switch .toggle-btn:checked::before {
  left: 100%;
  transform: translateX(-100%);
}
.ma-tabs .tabs {
  overflow: hidden;
}
.ma-tabs .tabs .tab-content {
  display: none;
  padding: 2rem 0;
}
.ma-tabs .tabs .visibale-tab {
  display: block;
  animation: fadeIn 0.8s ease-in-out;
}

/* End ma-tabs rules */
/* Start Social icons list rules */
.sc-flat .sc-list, .dir-col .sc-list, .dir-row .sc-list {
  padding: 0;
  margin: 0;
  display: inline-flex;
  list-style: none;
}
.sc-flat .sc-list .sc-item, .dir-col .sc-list .sc-item, .dir-row .sc-list .sc-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #ff1bda;
  transition: all 0.5s ease-in-out 0s;
}
.sc-flat .sc-list .sc-item:last-of-type, .dir-col .sc-list .sc-item:last-of-type, .dir-row .sc-list .sc-item:last-of-type {
  margin-bottom: 0;
}
.sc-flat .sc-list .sc-item:hover, .dir-col .sc-list .sc-item:hover, .dir-row .sc-list .sc-item:hover {
  background: #fff;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.25);
}
.sc-flat .sc-list .sc-item:hover .sc-icon, .dir-col .sc-list .sc-item:hover .sc-icon, .dir-row .sc-list .sc-item:hover .sc-icon {
  color: #ff1bda;
}
.sc-flat .sc-list .sc-link, .dir-col .sc-list .sc-link, .dir-row .sc-list .sc-link {
  display: flex;
  line-height: 1;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
}
.sc-flat .sc-list .sc-icon, .dir-col .sc-list .sc-icon, .dir-row .sc-list .sc-icon {
  color: #fff;
  transition: all 0.3s ease-in-out 0s;
}

.dir-row {
  padding: 0.75rem 0;
}
.dir-row .sc-list .sc-item {
  margin-right: 10px;
  margin-bottom: 5px;
}
.dir-row .sc-list .sc-item:last-of-type {
  margin-right: 0;
}
.dir-row .sc-list .sc-item:hover {
  transform: translateY(-5px);
}

.dir-col {
  padding: 0 0.75rem;
}
.dir-col .sc-list {
  flex-direction: column;
}
.dir-col .sc-list .sc-item {
  margin-bottom: 10px;
}
.dir-col .sc-list .sc-item:last-of-type {
  margin-bottom: 0;
}
.dir-col .sc-list .sc-item:hover {
  transform: translateX(5px);
}

.sc-flat .sc-list .sc-item {
  font-size: 1.1rem;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  margin-right: 1rem;
}
.sc-flat .sc-list .sc-item:hover {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
}
.sc-flat .sc-list .sc-item:hover .sc-icon {
  color: #ff1bda;
}
.sc-flat .sc-list .sc-item .sc-icon {
  color: #ff1bda;
}

.sc-size-40 .sc-item {
  width: 40px;
  height: 40px;
  font-size: 1rem;
}

.sc-size-32 .sc-item {
  width: 32px;
  height: 32px;
  font-size: 0.85rem;
}

.sc-size-24 .sc-item {
  width: 24px;
  height: 24px;
  font-size: 0.75rem;
}

.sc-size-16 .sc-item {
  width: 16px;
  height: 16px;
  font-size: 10px;
}

/* End Social icons list rules */
.back-to-top {
  position: fixed;
  bottom: -100px;
  border-radius: 50%;
  right: 30px;
  z-index: 20;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #fff;
  background: rgba(255, 27, 218, 0.8);
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.25);
}
.back-to-top:hover {
  background-color: #ff1bda;
}
.back-to-top.show {
  bottom: 30px;
}

/* Start loading screen rules */
.loading-screen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background: #000;
}
.loading-screen .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading-screen .spinner > div {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  display: inline-block;
  background: #ff1bda;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.loading-screen .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loading-screen .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@keyframes sk-bouncedelay {
  0%, 100%, 80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* End loading screen rules */
/*ُ 01- End global, helper classes , components Rules */
/*02- Start .page-header Rules    */
.page-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.page-header .main-navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  z-index: 1035;
  padding: 0 1rem;
  height: 75px;
  transition: all 0.5s ease-in-out 0s;
}
@media (max-width: 1199px) {
  .page-header .main-navbar {
    height: 75px;
  }
}
.page-header .navbar-brand {
  margin: 0;
  font-weight: 600;
  max-width: 150px;
  text-transform: capitalize;
  color: #ff1bda;
}
.page-header .navbar-brand .brand-logo {
  max-height: 50px;
}
@media (max-width: 1199px) {
  .page-header .navbar-brand .brand-logo {
    max-height: 40px;
  }
}
.page-header .navbar-brand .brand-logo.light-logo {
  display: block;
}
.page-header .navbar-brand .brand-logo.dark-logo {
  display: none;
}
.page-header .navbar-brand .brand-name {
  color: #fff;
  margin-left: 0.5rem;
}
.page-header .navbar-menu-wraper {
  margin-left: auto;
}
@media (max-width: 1199px) {
  .page-header .navbar-menu-wraper {
    position: fixed;
    top: 75px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease-in-out 0s;
  }
  .page-header .navbar-menu-wraper.show-menu {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 1199px) and (max-width: 1199px) {
  .page-header .navbar-menu-wraper.show-menu .navbar-nav {
    left: 0;
    height: calc(100% - 75px);
  }
}
.page-header .navbar-nav {
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
  padding: 0 2rem;
  transition: all 0.5s ease-in-out 0s;
}
@media (max-width: 1199px) {
  .page-header .navbar-nav {
    flex-direction: column;
    position: absolute;
    left: -100%;
    height: 100%;
    width: 75%;
    overflow: auto;
    top: 0;
    padding: 0;
    padding-bottom: 1.5rem;
    background-color: #ff1bda;
    overflow-x: hidden;
  }
}
.page-header .navbar-nav .nav-item {
  margin: 0;
  padding: 0;
  position: relative;
  margin-right: 1.5rem;
}
.page-header .navbar-nav .nav-item:last-child {
  margin-right: 0;
}
@media (max-width: 1199px) {
  .page-header .navbar-nav .nav-item {
    margin-right: 0;
  }
}
.page-header .navbar-nav .nav-link {
  position: relative;
  font-size: 0.85rem;
  font-weight: 700;
  letter-spacing: 0.75px;
  padding: 0.5rem 0 !important;
  color: #fff;
  transition: all 0.2s ease-in-out 0s;
}
.page-header .navbar-nav .nav-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 3.5rem;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  transition: all 0.3s ease-in-out 0s;
}
.page-header .navbar-nav .nav-link.active::after, .page-header .navbar-nav .nav-link:hover::after {
  opacity: 1;
  visibility: visible;
  top: 2.5rem;
  background-color: #fff;
}
@media (max-width: 1199px) {
  .page-header .navbar-nav .nav-link.active::after, .page-header .navbar-nav .nav-link:hover::after {
    display: none;
  }
}
.page-header .navbar-nav .nav-link .icon {
  display: none;
}
@media (max-width: 1199px) {
  .page-header .navbar-nav .nav-link .icon {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1rem;
  }
}
@media (max-width: 1199px) {
  .page-header .navbar-nav .nav-link {
    display: inline-block;
    padding: 1.25rem 1rem !important;
    width: 100%;
  }
  .page-header .navbar-nav .nav-link:hover {
    padding-left: 1.5rem;
    background-color: #fff;
    color: #ff1bda;
  }
}
.page-header .header-cta {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: #ff1bda;
  color: #fff;
  border-color: rgba(0, 0, 0, 0);
}
.page-header .header-cta:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border-color: #fff;
}
@media (max-width: 1199px) {
  .page-header .header-cta {
    display: none;
  }
}
.page-header .menu-toggler-btn {
  display: none;
}
@media (max-width: 1199px) {
  .page-header .menu-toggler-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 25px;
    z-index: 100;
    margin-bottom: 1rem;
    margin-top: 1rem;
    cursor: pointer;
  }
  .page-header .menu-toggler-btn > span {
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 1px;
    transition: all 0.5s ease-in-out 0s;
    background-color: #fff;
  }
}
.page-header .close-menu-btn span:nth-child(1) {
  transform: rotate(225deg) translateY(-9px);
}
.page-header .close-menu-btn span:nth-child(2) {
  display: none;
}
.page-header .close-menu-btn span:nth-child(3) {
  transform: rotate(-45deg) translateY(-9px);
}

.has-sub-menu > .sub-menu {
  list-style: none;
  position: absolute;
  top: 100%;
  min-width: 18rem;
  left: 0;
  margin: 0;
  padding: 1rem 0;
  transform: translateY(4rem);
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0px 0px 30px 0px rgba(51, 51, 51, 0.25);
  transition: all 0.5s ease-in-out 0s;
}
@media (max-width: 1199px) {
  .has-sub-menu > .sub-menu {
    position: static;
    border: none;
    box-shadow: none;
    padding: 0;
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    display: none;
    background-color: #ff1bda;
    transition: none;
  }
}
.has-sub-menu > .sub-menu .sub-menu-item {
  padding: 0;
  margin: 0;
}
.has-sub-menu > .sub-menu .sub-menu-link {
  color: #ff1bda;
  padding: 1rem 1rem 1rem 1.5rem !important;
  transition: all 0.25s ease-in-out 0s;
}
.has-sub-menu > .sub-menu .sub-menu-link:after {
  display: none;
}
.has-sub-menu > .sub-menu .sub-menu-link:hover {
  color: #fff;
  background-color: #ff1bda;
  padding-left: 2rem !important;
}
.has-sub-menu > .sub-menu .sub-menu-link .icon {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1rem;
}
@media (max-width: 1199px) {
  .has-sub-menu > .sub-menu .sub-menu-link {
    color: #f1f1f1;
  }
  .has-sub-menu > .sub-menu .sub-menu-link:hover {
    color: #ff1bda;
    background-color: #fff;
  }
}

.has-sub-menu .down-Arrow-icon {
  line-height: 1;
  font-size: 0.7rem;
  margin-left: 0.5rem;
}
.has-sub-menu:hover > .sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(1rem);
}
@media (max-width: 1199px) {
  .has-sub-menu:hover > .sub-menu {
    transform: translateY(0);
  }
}
.has-sub-menu .has-sub-menu .sub-menu {
  top: 0;
  right: 100%;
  left: auto;
}
.has-sub-menu .has-sub-menu:hover > .sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.has-sub-menu .has-sub-menu .down-Arrow-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  transition: transform, 0.25s;
}
@media (max-width: 1199px) {
  .has-sub-menu .has-sub-menu {
    position: static;
    transform: none;
  }
}

.header-stand-out {
  background-color: #ff1bda;
  border-color: rgba(0, 0, 0, 0);
  box-shadow: 0 1px 30px rgba(51, 51, 51, 0.25);
}
.header-stand-out .header-cta {
  background-color: #ff1bda;
  color: #fff;
}

.menu-on-start .navbar-menu-wraper {
  margin-right: auto;
  margin-left: 3rem;
}
@media (max-width: 1199px) {
  .menu-on-start .navbar-menu-wraper {
    margin: 0;
  }
}

.menu-on-end .navbar-menu-wraper {
  margin-left: auto;
  margin-right: 3rem;
}
@media (max-width: 1199px) {
  .menu-on-end .navbar-menu-wraper {
    margin: 0;
  }
}

.menu-on-center .navbar-menu-wraper {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1199px) {
  .menu-on-center .navbar-menu-wraper {
    margin: 0;
  }
}

.dark-header.header-stand-out {
  background-color: #333;
}
@media (max-width: 1199px) {
  .dark-header.header-stand-out .navbar-menu-wraper {
    background-color: rgba(0, 0, 0, 0.25);
  }
}
@media (max-width: 1199px) {
  .dark-header.header-stand-out .navbar-nav {
    background-color: #333;
  }
}
.dark-header.header-stand-out .nav-link {
  color: #fff;
}
.dark-header.header-stand-out .nav-link::after {
  background-color: #fff;
}
.dark-header.header-stand-out .nav-link.active, .dark-header.header-stand-out .nav-link:hover {
  color: #fff;
}
.dark-header.header-stand-out .nav-link.active::after, .dark-header.header-stand-out .nav-link:hover::after {
  background-color: #fff;
}
@media (max-width: 1199px) {
  .dark-header.header-stand-out .nav-link {
    color: #fff;
    background-color: #333;
  }
  .dark-header.header-stand-out .nav-link:hover {
    color: #333;
    background-color: #fff;
  }
}
.dark-header.header-stand-out .header-cta {
  background-color: #fff;
  color: #000;
}
.dark-header.header-stand-out .menu-toggler-btn > span {
  background-color: #fff;
}
.dark-header.header-stand-out .has-sub-menu .sub-menu .sub-menu-link {
  color: #333;
}
.dark-header.header-stand-out .has-sub-menu .sub-menu .sub-menu-link:hover {
  color: #fff;
  background-color: #000;
}
@media (max-width: 1199px) {
  .dark-header.header-stand-out .has-sub-menu .sub-menu .sub-menu-link {
    color: #fff;
  }
  .dark-header.header-stand-out .has-sub-menu .sub-menu .sub-menu-link:hover {
    color: #000;
    background-color: #fff;
  }
}
@media (max-width: 1199px) {
  .dark-header.header-stand-out .has-sub-menu .sub-menu {
    background-color: #333;
  }
}

.light-header.header-stand-out {
  background-color: #fff;
}
.light-header.header-stand-out .navbar-brand .brand-logo.light-logo {
  display: none;
}
.light-header.header-stand-out .navbar-brand .brand-logo.dark-logo {
  display: block;
}
.light-header.header-stand-out .navbar-brand .brand-name {
  color: #ff1bda;
  margin-left: 0.5rem;
}
@media (max-width: 1199px) {
  .light-header.header-stand-out .navbar-menu-wraper {
    background-color: rgba(0, 0, 0, 0.25);
  }
}
@media (max-width: 1199px) {
  .light-header.header-stand-out .navbar-nav {
    background-color: #fff;
  }
}
.light-header.header-stand-out .nav-link {
  color: #333;
}
.light-header.header-stand-out .nav-link::after {
  background-color: #333;
}
@media (max-width: 1199px) {
  .light-header.header-stand-out .nav-link {
    color: #333;
  }
  .light-header.header-stand-out .nav-link:hover {
    color: #fff;
    background-color: #333;
  }
}
.light-header.header-stand-out .header-cta {
  background-color: #333;
  color: #fff;
}
.light-header.header-stand-out .menu-toggler-btn > span {
  background-color: #333;
}
.light-header.header-stand-out .has-sub-menu .sub-menu {
  background-color: #fff;
}
.light-header.header-stand-out .has-sub-menu .sub-menu .sub-menu-link {
  color: #333;
}
.light-header.header-stand-out .has-sub-menu .sub-menu .sub-menu-link:hover {
  color: #fff;
  background-color: #333;
}
@media (max-width: 1199px) {
  .light-header.header-stand-out .has-sub-menu .sub-menu .sub-menu-link {
    color: #333;
    background-color: #fff;
  }
  .light-header.header-stand-out .has-sub-menu .sub-menu .sub-menu-link:hover {
    color: #fff;
    background-color: #333;
  }
}

/*02- End .page-header Rules    */
/*  03- Start .page-hero Rules   */
.page-hero {
  position: relative;
  z-index: 0;
  min-height: 100vh;
  padding: 120px 0;
  background: #ff1bda;
  background: -webkit-linear-gradient(45deg, #790365, #ff1bda);
}
@media (max-width: 991px) {
  .page-hero {
    height: auto;
    min-height: 100vh;
  }
}
@media (max-height: 600px) {
  .page-hero {
    height: auto;
  }
}
.page-hero .hero-video-bg {
  position: absolute;
  z-index: -2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
@media (max-width: 991px) {
  .page-hero .hero-text-area {
    text-align: center;
  }
}
.page-hero .hero-text-area .hero-title,
.page-hero .hero-text-area .slide-title {
  font-family: "Montserrat", "sans-serif";
  font-weight: 800;
  font-size: 4rem;
  text-transform: capitalize;
  margin-bottom: 1.25rem;
  color: #fff;
  line-height: 1.2;
}
@media (max-width: 991px) {
  .page-hero .hero-text-area .hero-title,
  .page-hero .hero-text-area .slide-title {
    font-size: 3rem;
  }
}
@media (max-width: 767px) {
  .page-hero .hero-text-area .hero-title,
  .page-hero .hero-text-area .slide-title {
    font-size: 2.5rem;
  }
}
@media (max-width: 575px) {
  .page-hero .hero-text-area .hero-title,
  .page-hero .hero-text-area .slide-title {
    font-size: 2rem;
    font-weight: 700;
  }
}
